{% extends 'app_base/base.html' %}
{% block content %}
<form action="#" method="post">{% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <div class="alert alert-danger">
                <h5>¿Esta Seguro De Eliminar El Usuario "{{ object }}"?</h5>
                <hr>
                <div class="row justify-content-center">
                    <div class="btn-group mx-2">
                        <button class="btn btn-danger" type="submit">Aceptar</a>
                    </div>
                    <div class="btn-group mx-2">
                        <a class="btn btn-primary" href="{% url 'usuario:index' %}">Cancelar</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</form>
{% endblock %}