{% extends 'app_base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="text-right">
    <span class="text-muted">Administración > <a class="text-muted" href="{% url 'usuario:index' %}">Usuarios</a></span>
    > Detalle
</div>
<div class="mb-4">
    <h2 class="font-weight-normal">Usuario <small class="font-weight-lighter text-muted"
            style="font-size: initial">{{ object }}</small></h2>
</div>
<hr>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Datos Basicos
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <h6>Usuario</h6>{{ object.username }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <h6>Nombre</h6>
                        {{ object.first_name }}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <h6>Apellido</h6> 
                        {{ object.last_name }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <h6>Fecha Creación</h6>
                        {{ object.date_joined }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}