{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Administrador De Economia</title>

  <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/datatable/datatables.min.css' %}">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'css/colors.css' %}" rel="stylesheet">

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/datatable/datatables.min.js' %}"></script>

</head>

<body>



  <div id="wrapper">

    <nav class="navbar navbar-expand-lg navbar-dark bg-elegant-black">
      <div class="navbar-brand">
        Administrador De Economia
        <span id="menu-toggle" class="ml-2 navbar-toggler-icon"></span>
      </div>

      <button class="navbar-toggler fas fa-chevron-down" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent">
        <span><i class="fas fa-chevron-down"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link sign-out-alt" href="{% url 'app_base:logout' %}">Salir</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="d-flex">

      <div class="text-white bg-sidebar border-right" id="sidebar-wrapper">
        <div class="mt-3">
          <img src="{% static 'imagenes/default_profile.png' %}" alt="Not Found"
            class="w-50 ml-5 mr-1 rounded-circle" />
        </div>
        <br>
        <div class="list-group list-group-flush">
          <a href="{% url 'app_base:index' %}"
            class="list-group-item list-group-item-action bg-sidebar bg-sidebar-action text-white">Inicio</a>
          <a href="{% url 'usuario:index' %}"
            class="list-group-item list-group-item-action bg-sidebar bg-sidebar-action text-white">Usuarios</a>
        </div>
      </div>

      <div class="container-fluid py-3">
        {% block content %}
        {% endblock %}
      </div>
    </div>

  </div>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>