{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Administrador De Economia</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{% static 'vendor/mdbootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/mdbootstrap/css/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/mdbootstrap/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/mdbootstrap/css/login.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-primary"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">
                        <h3 class="login-heading mb-4">Administrador De Economia</h3>
                        <form action="#" method="POST">
                            <div class="form-label-group">
                                <input type="text" id="username" name="username" class="form-control" placeholder="Nombre De Usuario" required autofocus>
                                <label for="username">Nombre De Usuario</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                                <label for="password">Contraseña</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Recordarme</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Entrar</button>
                            <div class="text-center">
                                <a class="small" href="#">Olvidaste Tu Contraseña?</a>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'vendor/mdbootstrap/js/jquery-3.4.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/mdbootstrap/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/mdbootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/mdbootstrap/js/mdb.min.js' %}"></script>
</body>

</html>