{% extends 'app_base/base.html' %}
{% block content %}
<div class="text-right">
    <span class="text-muted">Administración</span> > Usuarios
</div>
<div class="mb-4">
    <h2 class="font-weight-normal">Permisos <small class="font-weight-lighter text-muted"
            style="font-size: initial">Todos los permisos del sistema</small></h2>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="data_table" class="table table-striped table-borderless" style="width:100%">
                <thead class="no-bordered">
                    <th>
                        Nombre
                    </th>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Contenido
                    </th>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>
                            {{ object.name }}
                        </td>
                        <td>
                            {{ object.codename }}
                        </td>
                        <td>
                            {{ object.content_type }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <thead>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Contenido
                    </th>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#data_table').DataTable({
            "language": {
                "lengthMenu": "Mostrando _MENU_ Registros Por Pagina",
                "zeroRecords": "No se ha encontrado informacion",
                "info": "Mostrando Pagina _PAGE_ De _PAGES_",
                "infoEmpty": "No Hay Registros Disponibles",
                "infoFiltered": "(Filtrado De _MAX_ Registros Totales)",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "search": "Buscar:"
            }
        });
    })

</script>
{% endblock %}